{% extends 'compasweb/base/base.html' %}

{%block page_header%}
<h1>About COMPAS</h1>
{%endblock page_header%}
{% block content %}

  <p><span><a target="_blank" href="www.compas.science">COMPAS</a> is a rapid binary population synthesis suite developed by an international team of scientists. It is an updated version of the Single Stellar Evolution (<a target="_blank" href="https://arxiv.org/abs/astro-ph/0001295">SSE; Hurley, Pols & Tout 2000</a>) and Binary Stellar Evolution (<a target="_blank" href="https://arxiv.org/abs/astro-ph/0201220">BSE; Hurley, Tout & Pols 2002</a>) written in a modern, object oriented paradigm using the C++ programming language.
    <br/><br/>
    The COMPAS code is open source and freely available at <a target="_blank" href="https://github.com/TeamCOMPAS/COMPAS">https://github.com/TeamCOMPAS/COMPAS</a>
    <br/><br/>
    Get in touch at compas-user@googlegroups.com or post an issue at <a target="_blank" href="https://github.com/TeamCOMPAS/COMPAS/issues/">https://github.com/TeamCOMPAS/COMPAS/issues/</a>
    <br/><br/>
    See <a target="_blank" href="https://compas.science/science.html#papers">https://compas.science/science.html#papers</a> for a list of papers using COMPAS (or see the <a target="_blank" href="https://ui.adsabs.harvard.edu/public-libraries/gzRk1qpbRUy4cP2GydR36Q">ADS</a> )
    <br/><br/>
    The results from several studies using COMPAS are publicly available at <a target="_blank" href="https://zenodo.org/communities/compas/?page=1&size=20">Zenodo</a>
    <br/><br/>
    We are interested to know if you use COMPAS for your research; send us a link to your paper!
    <br/><br/>
    This web portal was developed by the Gravitational Wave Data Centre (<a target="_blank" href="GWDC https://gwdc.org.au/">GWDC</a>) and Astronomy Data and Computing Services (<a target="_blank" href="https://adacs.org.au/">ADACS</a>) through the competitive ADACS Software Support Program.
  </span></p>

{% endblock content %}


