{% extends 'compasweb/base/base.html' %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="jumbotron-heading text-center title-lg">COMPAS Web Portal</h1>
    <p class="lead p-text-md pt-5">
      <u>Introduction</u>: what’s this website for; short descriptions about App1 and App2; refers to About for more details (science & code)
    </p>
  
    <hr class="my-4">
    <div class="d-flex justify-content-around">
      <a class="btn btn btn-primary btn-home" href="#" role="button">Run COMPAS Model</a>
      <a class="btn btn btn-primary btn-home" href="#" role="button">Explore Published Models</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h1 class="jumbotron-heading text-center title-lg">Binary System Evolution</h1>
    <p class="lead p-text-md pt-5">
      <u>Introduction</u>: briefly description
    </p>
  
    <hr class="my-4">
    <p>javascript cartoon/video to show the whole process</p>
  </div>
</div>

{% endblock content %}


