version: "3"

services:
  django:
    build:
      context: .
      dockerfile: docker/django.Dockerfile
    container_name: django
    env_file: ./src/.env
    volumes:
      - ./src/static:/code/static-files
      - ./files:/files
    command: >
      bash -c "dockerize -wait tcp://db:3306 -timeout 20s
      && python manage.py migrate
      && python manage.py collectstatic --noinput
      && python manage.py loaddata compasweb/fixtures/test_data.json
      && gunicorn --bind=0.0.0.0:8000 compas.wsgi:application"
    ports:
      - "8000"
    depends_on: 
      - db
  nginx:
    build:
      context: .
      dockerfile: docker/nginx.Dockerfile
    ports:
      - "8080:80"
    container_name: nginx
    depends_on:
      - django
    env_file: ./src/.env
    volumes:
      - ./src/static:/static
      - ./files:/files
  bokeh:
    build:
      context: .
      dockerfile: docker/bokeh.Dockerfile
    ports:
      - "5006"
    container_name: bokeh
    env_file: ./src/.env
    volumes:
      # note: the mount point has to be the same as in the django container for path resolution to hdf5 fileys to work properly
      - ./files:/files/
    command: >
      bash -c 'bokeh serve --prefix=$${ROOT_SUBDIRECTORY_PATH}/bokeh --allow-websocket-origin="*" compas_hexbinplot.py'
  redis:
    image: redis:latest
    container_name: redis_server
    ports:
      - '6379:6379'
  celery:
    build: 
      context: .
      dockerfile: docker/celery.Dockerfile
    container_name: celery
    restart: always
    env_file: ./src/.env
    command: celery -A compas worker -l info
    volumes:
      - ./files:/files/
      - ./src:/code/
    links: 
      - redis
      - django
  db:
    image: mysql:5.7
    ports:
      - '3307:3306'
    volumes:
      - ./src:/code/
    env_file: 
      - ./src/.env
    # environment:
    #   - MYSQL_DATABASE:${DB_NAME}
    #   - MYSQL_USER:${DB_USERNAME}
    #   - MYSQL_PASSWORD:${DB_PASSWORD}
    #   - MYSQL_ROOT_PASSWORD:${DB_ROOT_PASSWORD}