/********************************************/
/*                                          */
/*          customized properties           */
/*                                          */
/********************************************/
/* The following color codes are taken from CAS Research Colors in CAS Research Team in figma. */

:root{
    /* --nav-background: #373737; */
    --gray1: #333333;
    --gray2: #4F4F4F;
    --gray3: #828282;
    --gray5: #E0E0E0;
    --gray6: #F2F2F2;
    --linecolor: #BDBDBD;
    --title1-font: normal bold 45px Roboto, sans-serif;
    --title1-shadow: 0px 24px 100px rgba(0, 0, 0, 0.14), 0px 11px 15px rgba(0, 0, 0, 0.2);
    --title2-font: normal 500 36px Roboto, sans-serif;
    --title2-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --title2-height: 48px;
    --title3-font: normal 500 30px Roboto, sans-serif;
    --title3-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --title4-font: normal 500 24px Roboto, sans-serif;
    --p-md-font: normal 500 22px Roboto, sans-serif;
    --p-md-height: 32px;
    --div-sm-font: normal 500 18px Roboto, sans-serif;
    --div-sm-height: 20px;
    --button1-font: normal bold 30px Roboto, sans-serif;
    --button1-height: 1.6;
    --button2-font: normal bold 16px Roboto, sans-serif;
    --button2-height: 2;
    --table-font: normal 500 20px Roboto, sans-serif;
    --table-height: 23.5px;
    --tab-font: normal 500 24px Roboto, sans-serif;
    --tab-height: 48px;
    --tab-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    
}


body {
    background-color: #343a40 !important;
}


*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    background-color: #ffffff;
    padding: 10px 0 20px;
}


@media only screen and (max-width: 1200px) {
    * {
        font-size: .9rem;
    }

    .page-header span {
        font-size: x-large;
    }
}

/********************************************/
/*                                          */
/*                 navbar                   */
/*                                          */
/********************************************/
.navbar {
    padding: 0px 0px;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom:0px;
}

.navbar-brand .logo{
    height: 100px;
    vertical-align: middle;
    padding-top: 0px;
    padding-bottom:0px;
}

.nav-item-left .nav-item .nav-link {
    color: var(--gray5);
}
    

.nav-item-right .nav-item .nav-link {
    color: var(--gray5);
}

.dropdown .dropdown-menu {
    background-color: rgba(55, 60, 66, 1);
}

.dropdown .dropdown-menu a,
.dropdown .dropdown-menu a:focus,
.dropdown .dropdown-menu a:visited {
    color: rgba(255,255,255,.5);
}

.dropdown .dropdown-menu a:hover {
    color: rgba(255,255,255,.8);
    background-color: rgba(55, 60, 66, 1);
}

@media only screen and (max-width: 767px) {
    .navbar-nav .nav-item {
        border-bottom: 1px dotted rgba(255,255,255,.5);
    }

    .dropdown .dropdown-menu {
        border: none;
        background-color: inherit;
    }
}

@media only screen and (max-width: 418px) {
    .navbar {
        padding: 0 0 0.5rem 0;
    }

    .navbar-brand {
        padding-bottom: 0.3125rem;
    }

}

/********************************************/
/*                                          */
/*                 footer                   */
/*                                          */
/********************************************/

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

.footer-text {
    color: white;
}

/********************************************/
/*                                          */
/*               page header                */
/*                                          */
/********************************************/

.page-header {
    font: var(--title2-font);
    text-shadow: var(--title2-shadow);
    line-height: var(--title2-height);
    color: var(--gray2);
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

/********************************************/
/*                                          */
/*              datasets table              */
/*                                          */
/********************************************/

#datasets-table {
    font: small;
}

#datasets-table th {
    color: var(--gray2);
    vertical-align: middle;
    text-align: center;
    border-bottom-width: 1px;
}

td.block-cell-center {
    text-align: center;
    vertical-align: middle;    
}


/********************************************/
/*                                          */
/*              model table                 */
/*                                          */
/********************************************/

#datasetmodels-table {
    font: small;
    word-wrap: break-word;
}

#datasetmodels-table table {
    border-collapse: collapse;
}

#datasetmodels-table th {
    color: var(--gray2);
    vertical-align: middle;
    text-align: center; 
    border-bottom: 1px solid #dee2e6;
}

#datasetmodels-table th:first-child, td:first-child{
    border-right: 1px;
    
}


#datasetmodels-table th:last-child, td:last-child{
    border-left: 1px;
}



#datasetmodels-table tr td {
   border-top: 0; 
  
} 


#datasetmodels-table .d-flex {
    min-width: 768px;
}

.d-flex > .flex-cell-center {
    justify-content: center;
    align-items: center;
    display: flex; 
}

/********************************************/
/*                                          */
/*                  buttons                 */
/*                                          */
/********************************************/
.btn-dark {
    background-color: var(--gray2);
    font: var(--button2-font);
    line-height: var(--button2-height);
    border: 1px solid var(--gray2);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 

}

.btn-dark:hover {
    background-color: var(--gray1);
    border: 1px solid var(--gray1);
}

.btn-dark:focus {
    background-color: var(--gray1);
    border: 1px solid var(--gray1);
    box-shadow: 0.2rem 0.2rem var(--gray3);
}

.btn-dark:active {
    background-color: var(--gray1);
    border: 1px solid var(--gray1);
    box-shadow: 0 0 0.2rem var(--gray3);
}

.btn-home{
    font: var(--button1-font);
    line-height: var(--button1-height);
    border-radius: 20px;
    width:320px;
    height: 170px;
    margin: 10px;
}

.btn-nav-back{
    margin: 35px 0;
}
/********************************************/
/*                                          */
/*                nav tab                   */
/*                                          */
/********************************************/
 #detaildes {
    /* padding: 50px 35px;
    border: 50px 35px; */
    margin: 50px;
}  

.nav-tabs > li > a.active {
  color: var(--gray2);
  font: var(--tab-font);
  text-shadow: var(--tab-shadow);
  line-height: var(--tab-height);
    
}
.nav-tabs > li > a {
  color: var(--gray3);
  font: var(--tab-font);
  text-shadow: var(--tab-shadow);
  line-height: var(--tab-height);
}

.tab-content-text {
    color: var(--gray2);
    font: var(--tab-font);
    line-height: var(--tab-height);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
}

/********************************************/
/*                                          */
/*                  card                    */
/*                                          */
/********************************************/

.card {
   background-color: var(--gray6);
   border: 0;
   margin-right: 0.1rem;
   margin-bottom: 2rem;
   max-width: 33rem;
}

.card-header{
    color: var(--gray2);
    background-color: var(--gray6);
    border-bottom: 1px dashed var(--linecolor);
}

/********************************************/
/*                                          */
/*                 others                   */
/*                                          */
/********************************************/

.jumbotron{
    background-color: var(--gray6);
    ;
}

.title-lg{
    color: var(--gray2);
    font: var(--title1-font);
    text-shadow: var(--title1-shadow);
}

.title-md{
    color: var(--gray2);
    font: var(--title3-font);
    text-shadow: var(--title3-shadow);
}

.title-sm{
    color: var(--gray3);
    font: var(--title4-font);
}
.p-text-md{
    color: var(--gray2);
    font: var(--p-md-font);
    line-height: var(--p-md-height);
}
.div-text-sm-underline{
    color: var(--gray3);
    font: var(--div-sm-font);
    line-height: var(--div-sm-height);
    text-decoration: underline;
}
.div-text-sm{
    color: var(--gray3);
    font: var(--div-sm-font);
    line-height: var(--div-sm-height);
}




.dashed-line{
    border:1px dashed var(--linecolor);
}

.info-card{
    padding: 20px 35px;
}

#keywordLabel {
    margin-left: 0;
    padding-right: 20px;
}

/* work in process */

.tab-list {
    margin-left: 20px;
}



