{% extends 'compasweb/base/base.html' %}
{% load static %}
{% block content %}
<h3>{{ job.title }}</h3>

<p>This is a place holder job detail view.</p>

<h4>Description</h4>
<p>{{ job.description }}</p>

<h4>Files</h4>

{% for datasetmodel in job.compasdatasetmodel_set.all %}
<b>Model: {{ datasetmodel.compasmodel.name }}</b>
<ul>
    {% for upload in datasetmodel.upload_set.all %}
    <li><a href="{{ upload.file.url }}">{{ upload }}</a></li>
    {% empty %}
    No files were uploaded.
    {% endfor%}
</ul>
<br />
{% empty %}
No models.
{% endfor %}


{% endblock content %}