{% extends 'compasweb/base/base.html' %}
{% block content %}
<div class="row">
  <div class="form-group">
    <form action="" method="get">
      <div class="form-group">
        <label for="keywords">Keyword Filter</lablel>
          <select class="form-control" id="keywords" name="keyword_filter" onchange="this.form.submit()">
            <option value="">All</option>
            {% for kw in keyword_list %}
            {% if keyword == kw.tag|stringformat:"s" %}
            <option value={{ kw.tag }} selected>{{ kw.tag }}</option>
            {% else %}
            <option value={{ kw.tag }}>{{ kw.tag }}</option>
            {% endif %}
            {% endfor %}
          </select>
      </div>
    </form>
  </div>
</div>


  <div class="jobtable">
    <table class="table">
      <thead>
        <th>Author</th>
        <th>Title</th>
        <th>Details</th>
        <th>Publication</th>
        <th>Dataset</th>
        <th>Creation Date</th>
        <th>Access</th>
        <th>Keywords</th>
      </thead>

      {% for job in jobs %}
      <tr>
        <td>{{ job.author }}</td>
        <td>{{ job.title}}</td>
        <td><a href="{% url 'job_detail' job.id %}">view</a></td>
        <td>

            Year: {{ job.year }} <br/>
            Journal: {{ job.journal }} <br/>
            {% if job.journal_DOI %}
              DOI: <a href="https://doi.org/{{ job.journal_DOI }}">{{ job.journal_DOI }}</a> <br/>
            {% endif %}
            {% if job.arxiv_id %}
              Arxiv: <a href="https://arxiv.org/abs/{{ job.arxiv_id }}">{{ job.arxiv_id }}</a>
            {% endif %}


        </td>
        <td>
        {% if job.dataset_DOI %}
          DOI: <a href="https://doi.org/{{ job.dataset_DOI }}">{{ job.dataset_DOI }}</a>
        {% endif %}
        </td>
        <td>{{ job.creation_time }}</td>
        <td>
          {% if job.public == True %}
          Public
          {% else %}
          Private
          {% endif %}
        </td>
        <td>
          {{ job.keywords.all|join:", " }}
        </td>
      </tr>
      {% endfor %}

    </table>
  </div>

{% endblock content %}
