{% extends 'compasweb/base/base.html' %}
{% block content %}
<div class="row">
  <div class="form-group">
    <form action="" method="get">
      <div class="form-group">
        <label for="keywords">Keyword Filter</lablel>
          <select class="form-control" id="keywords" name="keyword_filter" onchange="this.form.submit()">
            <option value="">All</option>
            {% for kw in keyword_list %}
            {% if keyword == kw.tag|stringformat:"s" %}
            <option value={{ kw.tag }} selected>{{ kw.tag }}</option>
            {% else %}
            <option value={{ kw.tag }}>{{ kw.tag }}</option>
            {% endif %}
            {% endfor %}
          </select>
      </div>
    </form>
  </div>
</div>


  <div class="jobtable">
    <table class="table">
      <thead>
        <th>Author</th>
        <th>Title</th>
        <th>Description</th>
        <th>Publication</th>
        <th>Dataset</th>
        <th>Creation Date</th>
        <th>Access</th>
        <th>Keywords</th>
      </thead>

      {% for job in jobs %}
      <tr>
        <td>{{ job.author }}</td>
        <td>{{ job.title}}</td>
        <td>{{ job.description }}</td>
        <td>

            Year: {{ job.year }} <br/>
            Journal: {{ job.journal }} <br/>
            DOI: {{ job.journal_DOI }} <br/>
            Arxiv: {{ job.arxiv_id }}


        </td>
        <td>DOI: {{ job.dataset_DOI }}</td>
        <td>{{ job.creation_time }}</td>
        <td>
          {% if job.public == True %}
          Public
          {% else %}
          Private
          {% endif %}
        </td>
        <td>
          {{ job.keywords.all|join:", " }}
        </td>
      </tr>
      {% endfor %}

    </table>
  </div>

{% endblock content %}
